
 @font-face{
        font-family:'berlin';
        src: url('Berlin Sans FB Bold.ttf');
      
    }



 @font-face{
        font-family:'berlin2';
        src: url('Berlin Sans FB Regular.ttf');
      
    }

    @font-face{		
        font-family:'Jura';		        
        src: url('font/jura-Regular.otf');		
      		      
    }


         body{
                  font-family: jura;
                  margin:0;
                  padding: 0;
                  width: 100%;
                  background-color:#e6ffe6;
                  background-repeat: no-repeat;
                  background-size: cover;
                  height: 600px;
                }
@keyframes dropnav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



.container-fluid{
  padding:0px;
  margin:0px;
  height: 100%;
  width: 100%;
}
a:hover{
  text-decoration: none;

}  


  

/* SHIFT */
.nav-ban ul li a {
  position:relative;
  z-index: 1;
  
}

/* NAVIGATION */

.nav-ban {
  width: 100%;
  margin: 0 auto;
  background-color:rgba(0, 153, 51,0.9);
  height:42px;
 /* this section calls the dropHeader animation we defined above */
  animation-name: dropnav;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;

}

.navwrp ul {
  list-style: none;

}
.navwrp .ul1{
      float: left;
      margin-left:10px;
       width:250px;
      min-width:200px;
}

.navwrp .ul0{
    float: left;
      margin-left:100px;
      width:60px;
      margin-right:50px;
      
}
.ul0 img{ display:block;
margin:auto;}
.navwrp .ul2{
      float: right;
 width:500px;
      min-width:250px;
}

.navwrp .ul2 li {    
 margin-left:15px;  

       position:relative;
}

.navwrp .ul3{
 width:150px;
 height:180px;
 background-color: rgba(0, 153, 51,0.9);
 margin-top:40px;
  position:absolute;
  right:0%;
  margin-right:10px;
}

.navwrp .ul3 li{
margin-left:-20px;
font-size:12px;
}



.bar1, .bar2, .bar3 {
    width: 30px;
    height:2px;
    background-color:#b3ffb3;
    margin: 9px auto;
    transition: 0.4s;
}

.bar_div{
  width:30px;
  margin-left:10px;
  float:right;
   margin-right:10px;
   display:none;

}
.ul3{ display:none;}

.navwrp ul li {
  display: inline-block;
}

.navwrp ul li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: #b3ffb3;
  font-weight: 500;
  margin: 0 5px; 

}

.navwrp ul li a:hover {
  color: #fff;
}

.wlcnote{
    text-align:center;
    font-size:28px;
    color:green;
    font-weight:700;
    min-width:300px;
    margin-top:200px;
    clear:both;
}
.wlc{
    width:80%;
    margin:20px auto;
    text-align:center;
    color:green;
    font-size:18px;
     font-weight:400;
}
.navwrp{
   min-width:325px;
   width:100%;
   position:absolute;
   z-index:9;
}

    .pro img{
margin-right:10px;
    }

    .pro{
      font-size:12px;
    }

.rss {
	max-width: 95%;
	height: 450px;
	text-align: center;
  border:1px solid green;

}


label {
	width: 120px;
	height: 30px;
	display: inline-block;
	margin-top: 55px;
	position: relative;
	border-radius: 14px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
 background: #3e7523;
  background-image: -webkit-linear-gradient(top, #3e7523, #79bd75);
  background-image: -moz-linear-gradient(top, #3e7523, #79bd75);
  background-image: -ms-linear-gradient(top, #3e7523, #79bd75);
  background-image: -o-linear-gradient(top, #3e7523, #79bd75);
  background-image: linear-gradient(to bottom, #3e7523, #79bd75);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	line-height: 30px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-weight: bold;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom,
		color-stop(0.5, transparent),
		to(rgba(255, 255, 255, 0.3)));
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	cursor: pointer;
}

label.attention:hover {
	background: rgb(238,159,7);
	background: -moz-linear-gradient(top,  rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,159,7,1)), color-stop(45%,rgba(240,171,8,1)), color-stop(100%,rgba(243,182,15,1)));
	background: -webkit-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
	background: -o-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
	background: -ms-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
	background: linear-gradient(to bottom,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f',GradientType=0 );
}
label.attention:hover:before {
	content: "☢"; /* &#9762; */
	font-size: 22px
}
input[type=checkbox]:checked ~ label.attention:hover:before  {
	content: "on";
	font-size: 14px
}


label i {
	position: absolute;
	top: -4px;
	right:90px;
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 36px;
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}

label i:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	border-radius: 18px;
	background: rgb(239,239,239);
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
label:hover i {
	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
}
label:active i:before {
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

label:before {
	content: "Request";
	margin-left: 30px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}

label:after {
	content: "";
	right: 115px;
	width: 150px;
	font-size: 12px;
	color: green;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5), 0 -1px 1px rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
}

input[type=checkbox]:checked ~ label:before {
	content: "Cancel";
	text-transform: uppercase;
	margin-right: 30px;
	margin-left: 0;
}

input[type=checkbox]:checked ~ label:after {
	content: "";
	right: -130px;
  font-size:20px;
}

input[type=checkbox]:checked ~ label{
	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
}

input[type=checkbox]:checked ~ label i {
	right: -6px;
}

/* you can hide leter */
input:before {
	content: "Logic:";
	margin-left: -35px;
	font-size: 10px;
	color: #333;
}
input {
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: 10px;
	opacity: .1;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
} 
input:hover {
	opacity: 1;
}
.countdown{
margin-top:20px;color:green;display:none;font-size:50px;font-weight:400;font-family:'digit';}
.countdown-show{
  display:block;
}

@keyframes push {
    0%   { left: 110px; top: 0px;}
    50%  { left: 200px; top: 0px;}

    100% { left: 110px; top: 0px;}
}

    
    
@keyframes animateBorderOne {
  to {
    box-shadow: 0 0 0 2px #E0E4CC;
  }
}

.popup-close {
    width:30px;
    height:30px;
    padding-top:0px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:#fff;
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    background-color:white;
    color:green;
    border:4px solid green;
      z-index:90000;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:#fff;
    text-decoration:none;
   cursor:pointer;
}

    #noti_Container {
        position:relative;
    }


   
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
      
  width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        
        margin:-3px 10px 0 10px;
        cursor:pointer;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter, #noti_Counter1 {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:5px 0 0 25px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:9;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:300px;
        position:absolute;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 9;
        margin-top:5px;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:22px;
  
    }
           
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll{
        color:green;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:green;
        text-decoration:underline;
    }
.ul2 h3 {
        display:block;
        color:green; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
      

.side-nav {
 position:fixed;top:35%;left:-3px;overflow-x:hidden;overflow-y:hidden;
 /* this section calls the dropHeader animation we defined above */
  animation-name: sidenav;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 10s;

}

.side-text {
font-weight:bolder;
  white-space: nowrap; 
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.side:hover .side-overlay {
  width: 60px;
}

.side-overlay2 {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 77, 0, 0.4);
  overflow: hidden;
  height: 60px;
  transition: .5s ease;
  border-radius:5px;
}

.side-overlay {
    
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 77, 0, 0.4);
  overflow: hidden;
  width: 0;
  height: 60px;
  transition: .5s ease;
  border-radius:5px;
}








@keyframes sidenav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, .8);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 77, 0, 0.7);
  overflow: hidden;
  width: 66px;
  height: 0;
  transition: .5s ease;
}

.icon-cont:hover .overlay {
  height: 72px;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight:bolder;
}



			
.slideshow {		
  width: 294px;		
  margin: 0 auto;		
  overflow: hidden;		 
  font-size:12px;		  
}	

.slideshow-container {	
  width: 600px;		 
  transition: 1s ease;		
}	
.slideshow-container:hover {	
  animation-play-state: paused;	
}		

.slide-cont {		
  width: 294px;		
  display: inline-block;	
position:relative;		 
  text-align: center;		  
  }
.slide {	
  animation: slide 10s ease infinite;		    

}







	@keyframes slide {	 0% {
    transform: translateX(0%);
  }		
  		
  12.5% {		
    transform: translateX(0%);		
  }		
  		
  25% {		
    transform: translateX(0%);		
  }		
  		
  37.5% {		
    transform: translateX(0%);		
  }		
  		
  50% {		
    transform: translateX(-50%);		
  }		
  		
  62.5% {		
    transform: translateX(-50%);		
  }		
  		
  75% {		
    transform: translateX(-50%);		
  }		
  		
  87.5% {		
    transform: translateX(-50%);		
  }		
  		
  99% {		
    transform: translateX(-0%);		
  }		  
  		
  100% {	   transform: translateX(0);
  }		 
}



#loader {
    border: 8px solid rgba(255,255,255,.8); /* Light grey */
    border-top: 8px solid green ;/* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:0 auto;
    animation: spin 2s linear infinite;
    position:absolute;
    z-index:9;
    top:300px;
    left:50%;
    
}


.home{max-width:400px ;min-width:333px;height:500px; float:left;}

.test{width:350px; background-color:white;
box-shadow: 0px 0px 5px green;padding-top:1px;padding-bottom:1px;float:left;margin-left:30px;}

.profile{width:350px; background-color:white; 
box-shadow: 0px 0px 5px green;height:500px;padding-top:1px;float:left;margin-left:30px;}

.bottom-nav{ max-width:330px; min-width:330px;height:50px;margin: 0 auto; display: none;}



@keyframes spin {	 
    0% { transform: rotate(0deg); }		
    100% { transform: rotate(360deg); }		
}		
.h-tips{	
  margin-top:10px;width:52%;float:left;		
}



			
.r-side{	
 width:22%; float:left;		
}		
.r-side-activity{width:100%;height:250px;}		  
.r-side-wow{width:100%; background-color:white;margin:auto;margin-bottom:20px;	
 border:1px solid #b3ffb3;border-radius:2px;box-shadow: 0px 1px 1px 1px rgba(0, 153, 51,0.1);}		
 .chall{display:none;}		
 .l-side{width:26%;float:left;	
 }

.app-nav{
width:450px; margin:auto; padding:10px;height: 70px;font-size: 12px;
}
.app-link{
float:left;text-align:center; width:60px; height:80px;margin-right:40px;font-weight:bolder;color:green;
}
.app-link-in{
background-color:rgba(255, 255, 255, 0.7); box-shadow: 0 0 0 2px #00cc00;
    animation: 5s animateBorderOne ease infinite;
    border-radius: 2px;
}




@media only screen and (min-width:700px) and (max-width:1200px)
{

  .home{max-width:400px ;min-width:333px;height:500px; margin:0 auto;float:none;}

.test{width:350px; background-color:white;
box-shadow: 0px 0px 5px green;margin:20px auto;padding-top:1px;padding-bottom:1px;float:none;}


.profile{width:350px; background-color:white; margin:20px auto;
box-shadow: 0px 0px 5px green;height:500px;padding-top:1px;float:none;}

.bottom-nav{ display: inline;}

.navwrp .ul0{
      margin-left:40px;
      margin-right:10px;
      
}
.navwrp .ul1{
  margin-left:0px;
       width:100px;
}

.navwrp .ul2{
 width:350px;
}
.bar_div{
  display:none;
}
.ul3{ display: none;}



.r-side{
 width:580px;float: none;margin:0 auto;height: 250px;
}

.r-side-activity{
  width:48%;height:250px; float: left;
  }
.r-side-wow{display:none}

 		
.chall{width:300px;margin:auto;display: inline;}		
.slideshow-container { width: 1190px;	margin-top:10px;		
}	
.l-side{
  display: none;		
}

	.h-tips{		
  margin-top:10px;min-width:600px;margin:0 auto;float:none;		
}	

	.slide {	
  animation: slide 20s ease infinite;		
}		
@keyframes slide {		
  0% {		
    transform: translateX(0%);		
  }		
  		
  12.5% {		
    transform: translateX(0%);		
  }		
  		
  25% {		
    transform: translateX(-25%);		
  }		
  		
  37.5% {		
    transform: translateX(-25%);		
  }		
  		
  50% {		
    transform: translateX(-50%);		
  }		
  		
  62.5% {		
    transform: translateX(-50%);		
  }		
  		
  75% {		
    transform: translateX(-75%);		
  }		
  		
  87.5% {		
    transform: translateX(-75%);		
  }		
  		
  99% {		
    transform: translateX(0%);		
  }		
  		
  100% {		
    transform: translateX(0);		
  }		
  
}



}
@media only screen and (min-width:400px) and (max-width:699px)
{
  .home{max-width:500px ;min-width:333px;height:500px;margin:0 auto;float:none;}

.test{width:350px; background-color:white;
box-shadow: 0px 0px 5px green;margin:20px auto;padding-top:1px;padding-bottom:1px;float:none;}


.profile{width:350px; background-color:white; margin:20px auto;
box-shadow: 0px 0px 5px green;height:500px;padding-top:1px;float:none;}

.bottom-nav{ display: inline;}

.navwrp .ul0{
      margin-left:50px;
      width:60px;
      margin-right:15px;
      
}
.navwrp .ul1{
  margin-left:0px;
       width:100px;
}
.navwrp .ul2{
 display:none
}

.bar_div{
  display:inline;
}
.ul3{ display: inline;}

.r-side{		
 width:22%; float:left; display:none		
}		
.l-side{		
  display: none;		
}		
.h-tips{		
  margin-top:10px;min-width:600px;margin:0 auto;float:none;		
}
.wlcnote{
    min-width:70%;
    margin: 0 auto;
    margin-top:100px;
    font-size: 20px;
}
.wlc{
    width:80%;
    margin:50px auto;
    text-align:center;
    color:green;
    font-size:16px;
     font-weight:400;
}


.app-nav{
width:97%; margin:auto; padding:10px;height: 70px;min-width: 351px;padding-left:20px;
}
.app-link{
float:left;text-align:center; width:15%; height:50px;margin-right:31px;font-weight:bolder;color:green;font-size: 10px;
}
.app-link-in{
background-color:rgba(255, 255, 255, 0.7); box-shadow: 0 0 0 2px #00cc00;
    animation: 5s animateBorderOne ease infinite;
    border-radius: 2px;
}

}

@media only screen and (min-width:100px) and (max-width:399px)
{
.home{max-width:500px ;min-width:333px;height:500px;margin:0 auto;float:none;}

.test{width:350px; background-color:white;
box-shadow: 0px 0px 5px green;margin:20px auto;padding-top:1px;padding-bottom:1px;float:none;}


.profile{width:350px; background-color:white; margin:20px auto;
box-shadow: 0px 0px 5px green;height:500px;padding-top:1px;float:none;}

.bottom-nav{ display: inline;}

.navwrp .ul0{
    float: left;
      margin-left:10px;
      width:60px;
      margin-right:0px;
      
}
.navwrp .ul1{
  
  margin-left:0px;
       width:100px;
} 
.navwrp .ul2{
 display:none
}

.bar_div{
  display:inline;
}

.ul3{ display: inline;}

.h-tips{		
  margin-top:10px;min-width:600px;margin:0 auto;float:none;		
}


			
.r-side{	
 width:22%; float:left; display:none
}		
.l-side{		
display: none;	}

.wlcnote{
    min-width:70%;
    margin: 0 auto;
    margin-top:100px;
    font-size: 20px;
}
.wlc{
    width:80%;
    margin:50px auto;
    text-align:center;
    color:green;
    font-size:16px;
     font-weight:400;
}


.app-nav{
width:97%; margin:auto; padding:10px;height: 70px;min-width: 351px;padding-left:20px;
}
.app-link{
float:left;text-align:center; width:15%; height:50px;margin-right:31px;font-weight:bolder;color:green;font-size: 10px;
}
.app-link-in{
background-color:rgba(255, 255, 255, 0.7); box-shadow: 0 0 0 2px #00cc00;
    animation: 5s animateBorderOne ease infinite;
    border-radius: 2px;
}


}

